<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">DONALOCHE</h5>
        <p>Plataforma de financiamiento de proyectos sociales con donaciones. Busca proyectos sociales en tu cuidad o subí el tuyo y financialo facilmente</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Categorias</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/proyects?category=Beneficiencia">Beneficiencias</a>
          </li>
          <li>
            <a href="/proyects?category=Cultural">Culturales</a>
          </li>
          <li>
            <a href="/proyects?category=Productivo">Productivos</a>
          </li>
          <li>
            <a href="/proyects?category=Ambiental">Ambientales</a>
          </li>
          <li>
            <a href="/proyects?category=Solidario">Solidarios</a>
          </li>
          <li>
            <a href="/proyects?category=Comunitario">Comunitarios</a>
          </li>
          <li>
            <a href="/proyects?category=Vecinal">Vecinales</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Nosotros</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contacto">Contacto</a>
          </li>
          <li>
            <a href="/proyects/guide">Cómo funciona</a>
          </li>
          <li>
            <a href="/story">Acerca de nosotros</a>
          </li>
          <li>
            <a href="/donar">Ayudar a Donaloche</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/"> Donaloche</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
