<header class="masthead mb-auto">
        <div class="inner">
          <a class="brand" href="/">
            <img src="https://s3-sa-east-1.amazonaws.com/donaloche/Templates/donaloche.png" alt="" width="71" height="47">
          </a>
          <hr>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Inicio</a>
            <a class="nav-link" href="/proyects">Proyectos</a>
            <a class="nav-link" href="/proyects/guide">Presentar</a>
            <a class="nav-link" href="/contacto">Contacto</a>
          </nav>
          <hr>
        </div>
      </header>
