<div class="container">
  <div class="bienvenidos" style="text-align:center">
    <h1 class="bnv">Ayuda a que Donaloche pueda funcionar</h1><br>
    <p class="bnv">Donaloche utiliza servidores que tienen costos mensuales, con tu donación ayudás a que podamos seguir funcionando</p><br>
        <a href="http://mpago.la/48JPw1" target="_blank" class="btn">Pago Mensual</a><br><br>
        <a href="http://mpago.la/3y6vpp" target="_blank" class="btn">Donación Única</a>
  </div>
  <div class="">
    <h1>Muchisimas gracias por hacer esto posible a:</h1><br>
      {{#each data}}
      <h3>{{this.nombre}}</h3>
      {{/each}}
  </div>
</div>
