<div class="container">
  <div class="bienvenidos">
    <h1 class="bnv">¡Su mensaje fue enviado con exito!</h1><br>
    <p class="bnv">Gracias por comunicarte con nosotros, pronto le responderemos.</p><br>
    <a href="/" class="btn">Inicio</a>
  </div>
</div>
