<form class="" action="/proyects/upload" method="post" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{id}}">
  <input type="file" name="upl" value="">
  <input type="file" name="upl" value="">
  <input type="submit" name="" value="Enviar Video">
</form>
