<div class="container">
  <div class="presentacion">
    <h1>¿Como subir un proyecto?</h1>
    <p>Antes de continuar, leer toda la guía</p>
  </div>
  <div class="header" id="h1">
    <h3>Como debe ser el proyecto  <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></h3>
  </div>
  <div class="data" id="data1">
    <h4>El proyecto debe ser social sin lucro</h4>
    <p>Esto significa que el mismo no puede tener fines de lucro. Siempre y cuando se cumpla lo anterior, el proyecto será aceptado. Otro requisito
    es que el proyecto no debe ser con fines personales, el mismo tiene que beneficiar a un grupo de personas.</p>
    <p>Algunos ejemplos son:</p>
    <ul>
      <li>Proyectos comunitarios</li>
      <li>Proyectos ambientales</li>
      <li>Proyectos de juntas vecinales</li>
      <li>Cooperativas</li>
      <li>Etc</li>
    </ul>
  </div>
  <div class="header" id="h2">
    <h3>Como llenar el formulario  <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></h3>
  </div>
  <div class="data" id="data2">
    <h4>Todos los campos deben estar completos</h4>
    <p>A la hora de llenar el formulario, debe ser lo más completo posible. En el apartado del proyecto, se le solicitaran descripciones de la problematica/razón,
     del uso que le hará al dinero y descripcion personal; estas descripciones deben ser largas y completas, nunca breves, siempre es mejor que sobre y que no falte!</p>
     <p>Luego de llenar el primer formulario, se le solicitará que envíe una foto y un video (obligatorios). Estos dos pueden tardar varios minutos (incluso +30) en
     subirse, nunca cierre la página y ten paciencia.</p>
     <h4>Antes de empezar a llenar el formulario, usted debe tener:</h4>
     <ul>
       <li><strong>Información personal, teléfono y mail</strong></li>
       <li><strong>Descripción completa del proyecto</strong></li>
       <li><strong>Foto</strong> (debe representar a la perfección su proyecto); ej:Foto del merendero que quiere ayudar.</li>
       <li><strong>Video</strong> - Es el más importante, debe mostrar en detalle su proyecto. (NO más de 5 minutos)</li>
     </ul>
  </div>
  <div class="header" id="h3">
    <h3>¿Qué sucede despues?  <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></h3>
  </div>
  <div class="data" id="data3">
    <h4>Nosotros nos encargaremos de todo</h4>
    <p>Luego de subir la foto y el video, nosotros revisaremos el proyecto para confirmar que cumpla con todos los requisitos, luego de aprobarlo, nos comunicaremos
    con usted para informarle que fue (o no) aprobado y darle un link para compartirlo y difundirlo. Inmediatamente después de ser aprobado, se podrá ver desde la página
  y podrá recibir donaciones.</p>
  <h4>¿Qué sucederá con el dinero?</h4>
  <p>A su objetivo de dinero, se le sumará un 4,5% de comisión que cobra mercadopago, el dinero tarda 14 días en acreditarse (<a href="https://www.mercadopago.com.ar/developers/es/guides/faqs/collections/">Guía Mercadopago</a>), en caso de que el monto supere $5000, la comisión será del 10%. Nosotros nos encargamos de administrar el dinero, y al cumplir su objetivo, o
  cuando usted lo desee, le depositaremos todo el dinero que le han donado (preferentemente mercadopago o cuenta bancaria). Nosotros no nos llevamos nada de comisión ni cobramos extra, <strong>también funcionamos con donaciones!</strong></p>
    <a href="/proyects/new" class="btn">Tengo todo!</a>
  </div>

</div>
