<div class="container">
  <div class="bienvenidos">
    <h1 class="bnv">¡Bienvenido a Donaloche!</h1><br>
    <p class="bnv">El objetivo de Donaloche es ayudar a que los proyectos sociales de la comunidad se puedan realizar.</p><br>
    <a href="/proyects" class="btn">Explorar</a>
  </div>
</div>
