<div class="form">
  <form class="" action="/proyects/addproyect" method="post">
    <input type="text" name="uname" value=""><br>
    <input type="number" name="udni" value=""><br>
    <input type="email" name="email" value=""><br>
    <input type="number" name="phone" value=""><br>
    <input type="text" name="name" value=""><br>
    <input type="text" name="description" value=""><br>
    <input type="number" name="aim" value=""><br>
    <input type="submit" name="" value="Enviar">
  </form>
</div>
