<div class="container">
  <div class="bienvenidos">
    <h1 class="bnv">¡Gracias por donar a Donaloche!</h1><br>
    <p class="bnv">Si quieres y no lo has hecho antes, dinos quien eres y figura dentro de los donadores!</p><br>
    <div class="form">
      <form class="" action="/adddonator" method="post">
        <input type="text" name="nombre" value="" placeholder="Nombre y Apellido"><br><br>
        <input type="number" name="dni" value="" placeholder="DNI"><br><br>
        <input type="email" name="email" value="" placeholder="Email"><br><br>
        <input type="number" name="telefono" value="" placeholder="Telefono"><br><br>
        <input type="submit" name="" value="Enviar" class="btn" style="display:inline-block">
      </form>
    </div>
  </div>
</div>
