<div class="container">
  <div class="about">
    <h1>Sobre Nosotros</h1><br>
    <div class="about-text">
      <h3>QUIENES SOMOS</h3>
      <p>Los creadores de Donaloche somos tres estudiantes de cuarto año del colegio Don Bosco: Ezekiel Grosfeld, Geronimo Lozada, Agustin Valeri y Juan Cruz
      Venegas. Donaloche surgió como una solución ante la falta de financiación de proyecos sociales en San Carlos de Bariloche, y la falta de organización para donaciones
    colectivas.</p>
    </div>
    <div class="about-text">
      <h3>OBJETIVO</h3>
      <p>Nuestro principal objetivo es lograr financiar
        <strong>todos</strong> los proyectos que se presenten ayudando a que estos se puedan concretar sin la necesidad
        de pedir un credito con altas tasas de interes. No cobramos ningún interes, y para cubrir los costos de mantenimiento,
        <a href="/donar">¡también funcionamos con donaciones!</a>
      </p>
    </div>
    <div class="links">
      <a href="/proyects/guide" class="btn">Iniciar Proyecto</a>
      <a href="/proyects" class="btn">Donar</a>
    </div>
  </div>
</div>
