<div class="container">
  <div class="bienvenidos">
    <h1 class="bnv">Su proyecto ha sido subido con éxito</h1><br>
    <p class="bnv">Pronto nos comunicaremos con usted, gracias.</p><br>
    <a href="/" class="btn">Inicio</a>
  </div>
</div>
