<div class="container">
  <div class="bienvenidos">
    <h1 class="bnv">Su donacion a "{{data.name}}" se acreditó con éxito</h1><br>
    <p class="bnv">Gracias por donar y confiar en donaloche!</p><br>
    <p class="bnv">Comparta el proyecto para que llegue a mas personas!!</p><br>
    <p class="bnv">
      <a href="http://www.facebook.com/sharer.php?u=http://donaloche.herokuapp.com/proyects/{{data.id}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="https://twitter.com/share?url=http://donaloche.herokuapp.com/proyects/{{data.id}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
    </p><br>
    <a href="/" class="btn">Inicio</a>
  </div>
</div>
